<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameTracker</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 <header>
     <div class="menu-area">
         <ul>
             <li><a asp-page="/Index">Home</a></li>
             <li><a asp-page="/Latest">Latest</a></li>
             <li><a asp-page="/Community">Community</a></li>
             <li><a asp-page="/Register">Register</a></li>
             <li>
                 <input type="text" name="" id="search" placeholder="Search your game" />
             </li>
             <li ><a class="signin" asp-page="/Sign">Sign In</a></li>
         </ul>
     </div>
 </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - GameTracker - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
