
body{
    background-color:black;
}
/*navbar*/
/*Styling links*/
.menu-area{
    width:100%;
    overflow:auto;
    background-color : darkgreen;
}
.menu-area ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-area ul li{
    float: left;
}

.menu-area ul li a{
    width: 120px;
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: poppins;
    font-size: 20px;

}

.menu-area ul li a:hover{
    background: #00ff90;
}

#search{
    width: 450px;
    padding: 5px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    border : none;
    font-size: 18px;
    text-align:center;
    margin: 15px;
}
/*==========================================================================*/
.text-block {
    width: 350px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 45em;
    bottom: 0;
    left:10px;
    right: 0;
    
}
.text-block p,h1{
    color:white;
    margin-left:83px;
}

.div-container{
    width:100%;
}
.description {
    width: 25%;
    height:312.3px;
    margin: auto;
    float: left;
    background-image: url(../images/DescriptiomBg2.jpg);
}

    .description p{
        font-size: 30px;
        color:white;
    }

    .description h2{
        font-size:50px;
        color:white;
    }
.description-abt {
    width: 50%;
    float: left;
    background-image: url(../images/descriptionbg3.jpg);
}
    .description-abt p {
        font-size: 30px;
        font-family: "Times New Roman", Times, serif;
        color: white;
        padding-left:1em;
        padding-right:1em;
    }

    .description-abt h2 {
        font-size: 50px;
        font-family: "Times New Roman", Times, serif;
        color: white;
        padding-left:7em;
    }

.button-div {
    margin-left: 14em;
    margin-top: 19em;
    background-color: aqua;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size:15px;
}