.index-big-image {
    width: 100%;
    margin: 0;
    position: absolute;
    
}
    .index-big-image img {
        /* Set up proportionate scaling */
        width: 99.15%;
        height: 850px;
        /* Set up positioning */
        position: absolute;
        left: 0;
    }

.botom-left-index-text{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/*navbar*/
/*Styling links*/
.menu-area{
    width:100%;
    overflow:auto;
    background-color : darkgreen;
}
.menu-area ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-area ul li{
    float: left;
}

.menu-area ul li a{
    width: 120px;
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: poppins;
    font-size: 20px;

}

.menu-area ul li a:hover{
    background: #00ff90;
}

#search{
    width: 450px;
    padding: 5px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    border : none;
    font-size: 18px;
    text-align:center;
    margin: 15px;
}
/*==========================================================================*/